@model IEnumerable<AppUser>
@{
    ViewData["Title"] = "Index";
}

<div class="row mt-2">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">List of Users</h4>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Edit</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.UserName</td>
                                <td>@item.Email</td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                                </td>
                                <td>
                                    <a asp-action="Remove" asp-route-roleName="@item.UserName.ToString();" class="btn btn-danger confirmDeletion">Remove</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
