@model ProductDTO
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <img src="~/images/product/@Model.ImagePath" alt="Not Found Image" class="card-img-top" />
            </div>
            <div class="card-body">
                <p class="card-title">@Model.ProductName</p>
                <p class="card-text">@Model.Description</p>
                <p class="card-text">@Model.DescText</p>
                <p class="card-text">@Model.UnitPrice.ToString("C2")</p>
            </div>

            @if (SignInManager.IsSignedIn(User))
            {
                @if (User.IsInRole("Admin") || User.IsInRole("Seller"))
                {

                }
                else
                {
                    <div class="card-footer">
                        <a asp-controller="Cart" asp-action="Add" class="btn btn-block btn-dark" asp-route-id="@Model.Id">Add To Cart</a>
                    </div>
                }
            }
        </div>
    </div>
</div>