@model RoleEditDTO
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row mt-2">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Role Management</h4>
            </div>
            <div class="card-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="RoleName" value="@Model.Role.Name" />
                    <div class="row">
                        <div class="col-6">
                            <h4>Add Users to <span class="badge badge-success">@Model.Role.Name</span> Role</h4>

                            <table class="table table-hover">
                                @if (Model.HasNotRole.Count() == 0)
                                {
                                    <tr>
                                        <td>All users are @Model.Role.Name</td>
                                    </tr>
                                }
                                else
                                {
                                    foreach (AppUser user in Model.HasNotRole)
                                    {
                                        <tr>
                                            <td>@user.UserName</td>
                                            <td>
                                                <input type="checkbox" value="@user.Id" name="AddIds" />
                                            </td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                        <div class="col-6">
                            <h4>Remove Users to  <span class="badge badge-success">@Model.Role.Name</span> Role</h4>

                            <table class="table table-hover">
                                @if (Model.HasRole.Count() == 0)
                                {
                                    <tr>
                                        <td>No users are @Model.Role.Name</td>
                                    </tr>
                                }
                                else
                                {
                                    foreach (AppUser user in Model.HasRole)
                                    {
                                        <tr>
                                            <td>@user.UserName</td>
                                            <td>
                                                <input type="checkbox" value="@user.Id" name="DeleteIds" />
                                            </td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                    </div>
                    <div class="form-group float-right">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <a asp-action="Index" class="btn btn-block btn-dark">Back to List</a>
            </div>
        </div>
    </div>
</div>

